openapi: 3.0.3
info:
  title: SchoolERP API
  description: |
    Multi-tenant School ERP RESTful API. All admin/parent/teacher endpoints
    require JWT authentication and tenant context.
  version: 1.0.0
  contact:
    name: SchoolERP Engineering
    email: engineering@schoolerp.in

servers:
  - url: https://api.schoolerp.in/v1
    description: Production
  - url: http://localhost:8080/v1
    description: Development

tags:
  - name: Auth
    description: Authentication and session management
  - name: Public
    description: Public endpoints (no auth)
  - name: Students
    description: Student Information System
  - name: Attendance
    description: Student and staff attendance
  - name: Finance
    description: Fee heads, plans, receipts, payments, reconciliation
  - name: Exams
    description: Exam management and marks
  - name: Notices
    description: Notices and circulars
  - name: Academics
    description: Homework, lesson plans, timetable, certificates
  - name: Communication
    description: PTM events, chat, moderation
  - name: Safety
    description: Discipline, visitors, pickups, broadcasts
  - name: Transport
    description: Vehicles, routes, allocations
  - name: Library
    description: Books, issues, returns, digital assets
  - name: Inventory
    description: Items, stock, purchase orders, suppliers
  - name: HRMS
    description: Employees, salary, payroll, staff management
  - name: Admissions
    description: Enquiries and applications
  - name: Alumni
    description: Alumni directory and placement drives
  - name: Portfolio
    description: Multi-school group management
  - name: AI
    description: AI-powered features (teacher copilot, parent helpdesk)
  - name: Notifications
    description: Notification delivery logs
  - name: Parent
    description: Parent-facing APIs
  - name: Teacher
    description: Teacher-facing APIs

security:
  - BearerAuth: []
    TenantId: []

paths:
  # ─── Auth ──────────────────────────────────────────
  /auth/login:
    post:
      tags: [Auth]
      summary: Login
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email: { type: string, format: email, example: admin@school.in }
                password: { type: string, example: secret123 }
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  token: { type: string }
                  user:
                    $ref: '#/components/schemas/UserSummary'
                  tenant_id: { type: string, format: uuid }
        '401': { description: Invalid credentials }

  /healthz:
    get:
      tags: [Auth]
      summary: Health check
      security: []
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, example: ok }
                  timestamp: { type: string, format: date-time }

  # ─── Public ────────────────────────────────────────
  /public/demo-bookings:
    post:
      tags: [Public]
      summary: Book a demo
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DemoBookingRequest'
      responses:
        '201':
          description: Booking created
          content:
            application/json:
              schema:
                type: object
                properties:
                  id: { type: string, format: uuid }
                  status: { type: string, example: pending }

  /public/admissions/enquiries:
    post:
      tags: [Public]
      summary: Submit admission enquiry
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdmissionEnquiry'
      responses:
        '201':
          description: Enquiry created

  # ─── Students ──────────────────────────────────────
  /admin/students:
    get:
      tags: [Students]
      summary: List students
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
        - name: search
          in: query
          schema: { type: string }
        - name: class_id
          in: query
          schema: { type: string, format: uuid }
        - name: section_id
          in: query
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Student list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/StudentSummary'
    post:
      tags: [Students]
      summary: Create student
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateStudentRequest'
      responses:
        '201':
          description: Student created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Student'

  /admin/students/{id}:
    get:
      tags: [Students]
      summary: Get student detail
      parameters:
        - $ref: '#/components/parameters/PathId'
      responses:
        '200':
          description: Student detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Student'

  # ─── Finance ───────────────────────────────────────
  /admin/finance/fees/heads:
    get:
      tags: [Finance]
      summary: List fee heads
      responses:
        '200':
          description: Fee heads list
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FeeHead'
    post:
      tags: [Finance]
      summary: Create fee head
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, type]
              properties:
                name: { type: string, example: Tuition Fee }
                type: { type: string, example: tuition }
      responses:
        '200':
          description: Fee head created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeeHead'

  /admin/finance/fees/plans:
    post:
      tags: [Finance]
      summary: Create fee plan
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, academic_year_id, total_amount]
              properties:
                name: { type: string, example: Class 5 Annual Plan }
                academic_year_id: { type: string, format: uuid }
                total_amount: { type: integer, format: int64, example: 75000 }
      responses:
        '200':
          description: Fee plan created

  /admin/finance/fees/assign:
    post:
      tags: [Finance]
      summary: Assign fee plan to student
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [student_id, plan_id]
              properties:
                student_id: { type: string, format: uuid }
                plan_id: { type: string, format: uuid }
      responses:
        '200': { description: Assigned }

  /admin/finance/fees/students/{id}/summary:
    get:
      tags: [Finance]
      summary: Get fee summary for student
      parameters:
        - $ref: '#/components/parameters/PathId'
      responses:
        '200':
          description: Fee summary
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeeSummary'

  /admin/finance/payments/offline:
    post:
      tags: [Finance]
      summary: Issue offline receipt
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IssueReceiptRequest'
      responses:
        '200':
          description: Receipt issued
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Receipt'

  /admin/finance/payments/online:
    post:
      tags: [Finance]
      summary: Create online payment order (Razorpay)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [student_id, amount]
              properties:
                student_id: { type: string, format: uuid }
                amount: { type: integer, format: int64, example: 25000 }
      responses:
        '200':
          description: Order created
          content:
            application/json:
              schema:
                type: object
                properties:
                  order_id: { type: string, format: uuid }
                  razorpay_order_id: { type: string }
                  amount: { type: integer }
                  currency: { type: string, example: INR }

  /admin/finance/receipts/{id}/cancel:
    post:
      tags: [Finance]
      summary: Cancel receipt
      parameters:
        - $ref: '#/components/parameters/PathId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reason]
              properties:
                reason: { type: string, example: Duplicate entry }
      responses:
        '200': { description: Receipt cancelled }

  /admin/finance/receipts/{id}/refund:
    post:
      tags: [Finance]
      summary: Create refund
      parameters:
        - $ref: '#/components/parameters/PathId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [amount, reason]
              properties:
                amount: { type: integer, format: int64 }
                reason: { type: string }
      responses:
        '200': { description: Refund created }

  /admin/finance/receipts/{id}/pdf:
    get:
      tags: [Finance]
      summary: Download receipt PDF
      parameters:
        - $ref: '#/components/parameters/PathId'
      responses:
        '200':
          description: PDF file
          content:
            application/pdf: {}

  /admin/finance/payments/tally-export:
    get:
      tags: [Finance]
      summary: Export receipts for Tally
      parameters:
        - name: from
          in: query
          schema: { type: string, format: date }
        - name: to
          in: query
          schema: { type: string, format: date }
      responses:
        '200':
          description: CSV download
          content:
            text/csv: {}

  /admin/finance/fees/scholarships:
    get:
      tags: [Finance]
      summary: List scholarships
      parameters:
        - name: active_only
          in: query
          schema: { type: boolean }
      responses:
        '200':
          description: Scholarship list
    post:
      tags: [Finance]
      summary: Create/update scholarship
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScholarshipRequest'
      responses:
        '200': { description: Scholarship saved }

  # ─── Notices ───────────────────────────────────────
  /admin/notices:
    get:
      tags: [Notices]
      summary: List notices
      responses:
        '200':
          description: Notice list
    post:
      tags: [Notices]
      summary: Create notice
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateNoticeRequest'
      responses:
        '201': { description: Notice created }

  # ─── Academics ─────────────────────────────────────
  /admin/academics/homework:
    post:
      tags: [Academics]
      summary: Create homework
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateHomeworkRequest'
      responses:
        '201': { description: Homework created }

  /admin/academics/lesson-plans:
    get:
      tags: [Academics]
      summary: List lesson plans
      parameters:
        - name: class_section_id
          in: query
          schema: { type: string, format: uuid }
        - name: subject_id
          in: query
          schema: { type: string, format: uuid }
        - name: academic_year_id
          in: query
          schema: { type: string, format: uuid }
      responses:
        '200': { description: Lesson plan list }
    put:
      tags: [Academics]
      summary: Upsert lesson plan
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LessonPlanRequest'
      responses:
        '200': { description: Lesson plan saved }

  # ─── Communication ────────────────────────────────
  /admin/communication/ptm/events:
    get:
      tags: [Communication]
      summary: List PTM events
      responses:
        '200': { description: PTM events }
    post:
      tags: [Communication]
      summary: Create PTM event
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePTMEventRequest'
      responses:
        '201': { description: PTM event created }

  /admin/communication/chats/{room_id}/messages:
    post:
      tags: [Communication]
      summary: Send chat message
      parameters:
        - name: room_id
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [message]
              properties:
                message: { type: string }
      responses:
        '201': { description: Message sent }

  # ─── Safety ────────────────────────────────────────
  /admin/safety/incidents:
    get:
      tags: [Safety]
      summary: List incidents
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
      responses:
        '200': { description: Incident list }
    post:
      tags: [Safety]
      summary: Create discipline incident
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateIncidentRequest'
      responses:
        '201': { description: Incident created }

  /admin/safety/visitors/check-in:
    post:
      tags: [Safety]
      summary: Visitor check-in
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VisitorCheckInRequest'
      responses:
        '201': { description: Checked in }

  /admin/safety/broadcasts:
    get:
      tags: [Safety]
      summary: List broadcasts
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
      responses:
        '200': { description: Broadcast list }
    post:
      tags: [Safety]
      summary: Send emergency broadcast
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendBroadcastRequest'
      responses:
        '202': { description: Broadcast dispatched }

  # ─── HRMS ──────────────────────────────────────────
  /admin/hrms/employees:
    get:
      tags: [HRMS]
      summary: List employees
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
        - name: status
          in: query
          schema: { type: string, enum: [active, inactive] }
      responses:
        '200': { description: Employee list }
    post:
      tags: [HRMS]
      summary: Create employee
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEmployeeRequest'
      responses:
        '201': { description: Employee created }

  /admin/hrms/payroll-runs/{id}/execute:
    post:
      tags: [HRMS]
      summary: Execute payroll run
      parameters:
        - $ref: '#/components/parameters/PathId'
      responses:
        '200':
          description: Payroll executed
          content:
            application/json:
              schema:
                type: object
                properties:
                  processed: { type: integer }
                  errors: { type: integer }

  # ─── Alumni ────────────────────────────────────────
  /admin/alumni:
    get:
      tags: [Alumni]
      summary: List alumni
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
      responses:
        '200': { description: Alumni list }
    post:
      tags: [Alumni]
      summary: Create alumni record
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAlumniRequest'
      responses:
        '201': { description: Alumni created }

  # ─── AI ────────────────────────────────────────────
  /admin/ai/lesson-plan:
    post:
      tags: [AI]
      summary: Generate AI lesson plan
      description: Requires `enable_teacher_copilot` feature flag enabled.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [subject, topic]
              properties:
                subject: { type: string, example: Mathematics }
                topic: { type: string, example: Quadratic Equations }
                grade: { type: string, example: "10" }
      responses:
        '200':
          description: Generated lesson plan
          content:
            application/json:
              schema:
                type: object
                properties:
                  lesson_plan: { type: string }
        '403': { description: Feature disabled for tenant }

  # ─── Parent ────────────────────────────────────────
  /parent/me/children:
    get:
      tags: [Parent]
      summary: List children of logged-in parent
      responses:
        '200':
          description: Children list

  /parent/notices:
    get:
      tags: [Parent]
      summary: Notices for parent
      responses:
        '200': { description: Notice list }

  /parent/notices/{id}/ack:
    post:
      tags: [Parent]
      summary: Acknowledge notice
      parameters:
        - $ref: '#/components/parameters/PathId'
      responses:
        '200': { description: Acknowledged }

  /parent/fees/{child_id}/summary:
    get:
      tags: [Parent]
      summary: Child fee summary
      parameters:
        - name: child_id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Fee summary
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeeSummary'

  /parent/ai/query:
    post:
      tags: [Parent]
      summary: AI helpdesk query
      description: Requires `enable_parent_helpdesk` feature flag.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [query]
              properties:
                query: { type: string, example: "What is Ananya's fee due?" }
                context_info: { type: string }
      responses:
        '200':
          description: AI answer
          content:
            application/json:
              schema:
                type: object
                properties:
                  answer: { type: string }

# ─────────────────────────────────────────────────────
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    TenantId:
      type: apiKey
      in: header
      name: X-Tenant-ID

  parameters:
    PathId:
      name: id
      in: path
      required: true
      schema: { type: string, format: uuid }
    Limit:
      name: limit
      in: query
      schema: { type: integer, default: 50, maximum: 200 }
    Offset:
      name: offset
      in: query
      schema: { type: integer, default: 0 }

  schemas:
    UserSummary:
      type: object
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        email: { type: string, format: email }
        role: { type: string, enum: [super_admin, tenant_admin, teacher, parent, student] }

    StudentSummary:
      type: object
      properties:
        id: { type: string, format: uuid }
        admission_number: { type: string }
        first_name: { type: string }
        last_name: { type: string }
        class_name: { type: string }
        section_name: { type: string }
        status: { type: string, enum: [active, inactive, alumni] }

    Student:
      allOf:
        - $ref: '#/components/schemas/StudentSummary'
        - type: object
          properties:
            date_of_birth: { type: string, format: date }
            gender: { type: string }
            guardians: { type: array, items: { type: object } }
            documents: { type: array, items: { type: object } }
            custom_fields: { type: array, items: { type: object } }

    CreateStudentRequest:
      type: object
      required: [admission_number, first_name, last_name, class_id, section_id]
      properties:
        admission_number: { type: string }
        first_name: { type: string }
        last_name: { type: string }
        date_of_birth: { type: string, format: date }
        gender: { type: string, enum: [male, female, other] }
        class_id: { type: string, format: uuid }
        section_id: { type: string, format: uuid }
        guardian_name: { type: string }
        guardian_phone: { type: string }
        guardian_email: { type: string, format: email }
        guardian_relation: { type: string }
        address: { type: string }

    FeeHead:
      type: object
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        type: { type: string }

    FeeSummary:
      type: object
      properties:
        student_id: { type: string, format: uuid }
        total_fee: { type: integer }
        total_paid: { type: integer }
        total_due: { type: integer }
        concessions_applied: { type: integer }
        heads:
          type: array
          items:
            type: object
            properties:
              name: { type: string }
              amount: { type: integer }
              paid: { type: integer }
              due: { type: integer }

    IssueReceiptRequest:
      type: object
      required: [student_id, amount, mode]
      properties:
        student_id: { type: string, format: uuid }
        amount: { type: integer, format: int64, example: 25000 }
        mode: { type: string, enum: [cash, cheque, bank_transfer, online, upi] }
        transaction_ref: { type: string }
        items:
          type: array
          items:
            type: object
            required: [fee_head_id, amount]
            properties:
              fee_head_id: { type: string, format: uuid }
              amount: { type: integer, format: int64 }

    Receipt:
      type: object
      properties:
        id: { type: string, format: uuid }
        receipt_number: { type: string }
        amount: { type: integer }
        mode: { type: string }
        status: { type: string, enum: [active, cancelled] }
        created_at: { type: string, format: date-time }

    ScholarshipRequest:
      type: object
      required: [name, type, value]
      properties:
        name: { type: string, example: Merit Scholarship }
        type: { type: string, enum: [percentage, flat_amount] }
        value: { type: number, format: double, example: 25.0 }
        description: { type: string }
        is_active: { type: boolean, default: true }

    CreateNoticeRequest:
      type: object
      required: [title, body]
      properties:
        title: { type: string }
        body: { type: string }
        scope: { type: object, description: 'Targeting: "all", ["class_5"], or {"values":["class_5"]}' }

    CreateHomeworkRequest:
      type: object
      required: [class_section_id, subject_id, title, due_date]
      properties:
        class_section_id: { type: string, format: uuid }
        subject_id: { type: string, format: uuid }
        title: { type: string }
        description: { type: string }
        due_date: { type: string, format: date }
        attachment_url: { type: string, format: uri }
        max_marks: { type: integer }

    LessonPlanRequest:
      type: object
      required: [class_section_id, subject_id, week_number, planned_topic]
      properties:
        class_section_id: { type: string, format: uuid }
        subject_id: { type: string, format: uuid }
        week_number: { type: integer }
        planned_topic: { type: string }
        covered_at: { type: string, format: date }
        academic_year_id: { type: string, format: uuid }

    CreatePTMEventRequest:
      type: object
      required: [title, event_date, start_time, end_time, slot_duration_minutes, teacher_id]
      properties:
        title: { type: string }
        description: { type: string }
        event_date: { type: string, format: date-time }
        start_time: { type: string, format: date-time }
        end_time: { type: string, format: date-time }
        slot_duration_minutes: { type: integer, example: 15 }
        teacher_id: { type: string, format: uuid }

    CreateIncidentRequest:
      type: object
      required: [student_id, category, title]
      properties:
        student_id: { type: string, format: uuid }
        incident_date: { type: string, format: date-time }
        category: { type: string, enum: [discipline, bullying, attendance, academic, safety] }
        title: { type: string }
        description: { type: string }
        action_taken: { type: string }
        parent_visibility: { type: boolean, default: true }

    VisitorCheckInRequest:
      type: object
      required: [full_name, phone, purpose]
      properties:
        full_name: { type: string }
        phone: { type: string }
        purpose: { type: string }
        id_type: { type: string, enum: [aadhar, pan, driving_license, passport] }
        id_number: { type: string }
        photo_url: { type: string, format: uri }
        host_employee_id: { type: string, format: uuid }

    SendBroadcastRequest:
      type: object
      required: [message, target_roles]
      properties:
        message: { type: string }
        channel: { type: string, enum: [sms, push, whatsapp], default: sms }
        target_roles: { type: array, items: { type: string, enum: [parent, teacher, staff, student] } }

    CreateEmployeeRequest:
      type: object
      required: [first_name, last_name, email, phone, designation]
      properties:
        first_name: { type: string }
        last_name: { type: string }
        email: { type: string, format: email }
        phone: { type: string }
        department_id: { type: string, format: uuid }
        designation: { type: string }
        date_of_joining: { type: string, format: date }
        employment_type: { type: string, enum: [full_time, part_time, contract] }
        salary_structure_id: { type: string, format: uuid }

    CreateAlumniRequest:
      type: object
      required: [full_name, graduation_year]
      properties:
        full_name: { type: string }
        graduation_year: { type: integer, example: 2020 }
        batch: { type: string }
        email: { type: string, format: email }
        phone: { type: string }
        current_company: { type: string }
        job_role: { type: string }
        linkedin_url: { type: string, format: uri }
        bio: { type: string }

    DemoBookingRequest:
      type: object
      required: [name, email, phone, school_name]
      properties:
        name: { type: string }
        email: { type: string, format: email }
        phone: { type: string }
        school_name: { type: string }
        city: { type: string }
        student_count: { type: integer }

    AdmissionEnquiry:
      type: object
      required: [student_name, parent_name, phone]
      properties:
        student_name: { type: string }
        class_applied: { type: string }
        parent_name: { type: string }
        phone: { type: string }
        email: { type: string, format: email }
